@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<article class="">
    <form id="email-form" method="post" class="input-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-field-container large-margin-vertical">
            <label asp-for="Email"></label>
            @if (Model.IsEmailConfirmed)
            {
                <input asp-for="Email" class="form-control" disabled />
            }
            else
            {
                <input asp-for="Email" class="form-control" disabled />
                <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn">Send verification email</button>
            }
        </div>
        <div class="form-field-container large-margin-vertical">
            <label asp-for="Input.NewEmail"></label>
            <input asp-for="Input.NewEmail" class="form-control" />
            <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
        </div>
        <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-submit">Change email</button>
    </form>
</article>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
