@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<section class="display-data-wrapper">
    <section class="display-data-container">
        <section class="display-data-header">
            <article class="title-container">
                <h4 class="title">
                    @this.ViewData["Title"]
                </h4>
            </article>
        </section>

        <section class="display-data-body">
            <article class="display-data-body data-container">
                <p class="center">
                    Your email is successfully confirmed!
                </p>
                <p class="center">
                    Please <a asp-page="./Login">click here to log in with your new account</a>.
                </p>
            </article>
        </section>

        <section class="display-data-footer">
        </section>
    </section>
</section>