@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}




<section class="display-data-wrapper">
    <section class="display-data-container">
        <section class="display-data-header">
            <article class="title-container">
                <h4 class="title">
                    @this.ViewData["Title"]
                </h4>
            </article>
        </section>

        <section class="display-data-body">
            <article class="display-data-body data-container">
                @{
                    if (@Model.DisplayConfirmAccountLink)
                    {
                        <p>
                            This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                            Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                        </p>
                    }
                    else
                    {
                        <p>
                            Please check your email to confirm your account.
                        </p>
                    }
                }
            </article>
        </section>

        <section class="display-data-footer">
        </section>
    </section>
</section>