@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            
        </form>
    </div>
</div>



<section class="display-data-wrapper">
    <section class="display-data-container">
        <section class="display-data-header">
            <article class="title-container">
                <h4 class="title">
                    @this.ViewData["Title"]
                </h4>
            </article>
        </section>

        <section class="display-data-body">
            <article class="data-container">
                <h4 class="large-margin-vertical center">Reset your password.</h4>
                <hr />
                <form method="post" class="input-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Input.Code" type="hidden" />
                    <div class="form-field-container large-margin-vertical">
                        <label asp-for="Input.Email"></label>
                        <input size="40" asp-for="Input.Email" class="form-control" autofocus />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-field-container large-margin-vertical">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-field-container large-margin-vertical">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-submit">Reset</button>
                </form>
            </article>
        </section>

        <section class="display-data-footer">
        </section>
    </section>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
