@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<section class="display-data-wrapper">
    <section class="display-data-container">
        <section class="display-data-header">
            <article class="title-container">
                <h4 class="title">
                    @this.ViewData["Title"]
                </h4>
            </article>
        </section>

        <section class="display-data-body">
            <article class="data-container">
                <h4 class="large-margin-vertical center">Enter your email.</h4>
                <hr />
                <form method="post" class="input-group">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-field-container large-margin-vertical">
                        <label asp-for="Input.Email"></label>
                        <input size="40" asp-for="Input.Email" class="form-control" autofocus />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-submit">Resend</button>
                </form>
            </article>
        </section>

        <section class="display-data-footer">
        </section>
    </section>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
