@using ConformityCheck.Web.ViewModels.Suppliers.ViewComponents
@model IEnumerable<SuppliersViewComponentModel>

<option class="form-control" value=""></option>
@foreach (var item in Model)
{
    <option class="form-control" value="@item.Id">@item.NameAndNumber</option>
}
