/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}*/

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;*/
    color: #666770;
    /*text-align: left;
    background-color: #fff;*/
    height: 100%;
    min-height: 100vh;
    /*flex-direction: column;*/
    /*display: flex;*/
}

/*.left {
    flex: 0 0 20%;
    background-color: aqua;
    min-height: 80vh;
    float: left;
}

.right {
    flex: 1;
    min-height: 80vh;
    float: right;
}*/

.left {
    background-color: aqua;
    float: left;
    min-height: 80vh;
    /*width: 20%;*/
}

.right {
    /*width: 80%;*/
    float: right;
    min-height: 80vh;
    overflow-y: scroll;
}

.footer {
    /*position: fixed;*/
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    width: 100%;
    /*white-space: nowrap;*/
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: aqua;
    text-align: center;
}

/*@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}*/
a .navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Header styles
-------------------------------------------------- */
.navbar {
    background-color: aqua;
}

.navbar-light .navbar-brand {
    color: #666770;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Checkbox styles
-------------------------------------------------- */
input[type='checkbox'] {
    /*-webkit-appearance: none;*/
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 5px;
    /*border: 2px solid #555;*/
}

/*
input[type='checkbox']:checked {
        background: #abd;
}*/

table {
    /*table-layout: fixed;*/
    word-wrap: break-word;
}

table th, table td {
    overflow: hidden;
}

#dataTable > tbody > tr:hover td {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.075);
}

textarea{
    resize: none;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    /*color: #007bff;*/
    color: #666770;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

    .page-link:hover {
        z-index: 2;
        color: #0056b3;
        text-decoration: none;
        background-color: #e9ecef;
        border-color: #dee2e6;
    }

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #666770;
    border-color: #666770;
}

.page-item.disabled .page-link {
    color: #c4d3e1;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
