@model IEnumerable<SupplierExportModel>
    <div class="table-responsive">
        <table class="table table-sm table-hover dataTable">
            <thead>
                <tr>
                    <th scope="col">Supplier name</th>
                    <th scope="col">Supplier Nr.</th>
                    <th scope="col">Is Article's Main Supplier</th>
                    <th scope="col">All Confirmed</th>
                </tr>
            </thead>
            @foreach (var supplier in this.Model)
            {
                <tr>
                    <td>@supplier.Name</td>
                    <td>@supplier.Number</td>
                    <td>@(supplier.IsMainSupplier ? "Yes" : "No")</td>
                    <td>@(supplier.HasAllConformed ? "Yes" : "No")</td>
                </tr>
            }
        </table>
    </div>