@model IEnumerable<ConformityTypeExportModel>

<table class="table table-light table-responsive-md table-hover table-bordered table-sm">
    <thead>
        <tr>
            <th scope="col">Conformity Id</th>
            <th scope="col">Conformity type</th>
        </tr>
    </thead>
    @foreach (var conformityType in this.Model)
    {

        <tr>
            <td>@conformityType.Description</td>
            <td>@conformityType.Id</td>
        </tr>
    }
</table>