@model IEnumerable<ConformityTypeExportModel>
    <div class="table-responsive">
        <table class="table table-sm table-hover dataTable">
            <thead>
                <tr>
                    <th scope="col">Conformity Id</th>
                    <th scope="col">Conformity type</th>
                </tr>
            </thead>
            @foreach (var conformityType in this.Model)
            {

                <tr>
                    <td>@conformityType.Description</td>
                    <td>@conformityType.Id</td>
                </tr>
            }
        </table>
    </div>