@model IEnumerable<ConformityTypeExportModel>

<section class="table-container">
    <article class="table-header">
        <h6>Article's conformity types:</h6>
    </article>
    <table class="table dataTable">
        <thead>
            <tr>
                <th class="col-l">Conformity Id</th>
                <th class="col-l">Conformity type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var conformityType in this.Model)
            {

                <tr>
                    <td>@conformityType.Description</td>
                    <td>@conformityType.Id</td>
                </tr>
            }
        </tbody>
    </table>
</section>
