@using ConformityCheck.Web.ViewModels.Articles
@model ArticleManageConformityTypesModel
@{
    this.ViewData["Title"] = "Add a conformity type to the article";
    //var suppliers = Model.SuppliersAvailable.Select(x => new SelectListItem(x.NumberAndName, x.Id));
    //var conformityTypes = Model.ConformityTypesAvailable.Select(x => new SelectListItem(x.Description, x.Id.ToString()));
    //var products = Model.ProductsAvailable.Select(x => new SelectListItem(x.Number, x.Id));
    //var substances = Model.SubstancesAvailable.Select(x => new SelectListItem($"{x.CASNumber} - {x.Description}", x.Id.ToString()));
}

<h3>@this.ViewData["Title"]</h3>

<div>
    <form method="post" class="col-md-6 mx-auto">

        <div asp-validation-summary="All" class="text-danger"></div>

        <input type="text" hidden id="Id" name="Id" value="@Model.Id" />

        <div>
            <label asp-for="Number"></label>
            <span class="text-primary ">@Model.Number</span>
        </div>

        <div>
            <label asp-for="Description"></label>
            <span class="text-primary ">@Model.Description</span>
        </div>

        <div>
            <label asp-for="ConformityTypes"></label>
            <partial name="_ArticleConformityTypesTable" model="Model" />
        </div>

        <div class="form-group">
            <p>If you want to add a conformity to the article, please select one from the list:</p>
            <label asp-for="ConformityType.Id"></label>
            <select asp-for="ConformityType.Id" class="form-control">
                <vc:conformity-types></vc:conformity-types>
            </select>
            <span asp-validation-for="ConformityType.Id" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</div>

@section SideBar{
    <partial name="_SideMenu" model="Model" />
}