@using ConformityCheck.Web.ViewModels.Articles
@model CreateArticleInputModel
@{
    this.ViewData["Title"] = "Create new article";
    //var suppliers = Model.SuppliersAvailable.Select(x => new SelectListItem(x.NumberAndName, x.Id));
    //var conformityTypes = Model.ConformityTypesAvailable.Select(x => new SelectListItem(x.Description, x.Id.ToString()));
    //var products = Model.ProductsAvailable.Select(x => new SelectListItem(x.Number, x.Id));
    //var substances = Model.SubstancesAvailable.Select(x => new SelectListItem($"{x.CASNumber} - {x.Description}", x.Id.ToString()));
}

<div>
    <form method="post" class="col-md-6 mx-auto">
        <h1>@this.ViewData["Title"]</h1>

        <div asp-validation-summary="All" class="text-danger"></div>

        @*<select asp-for="SupplierId" class="form-control" asp-items="suppliers"></select>*@
        @*<select asp-for="SupplierEmail" class="form-control" asp-items="@Html.GetEnumSelectList<RecipeType>()"></select>*@

        <div class="form-group">
            <label asp-for="Number"></label>
            <input asp-for="Number" class="form-control" placeholder="Article number" />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea rows="2" asp-for="Description" class="form-control" placeholder="Article description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Supplier.Id"></label>
            <select asp-for="Supplier.Id" class="form-control">
                <vc:suppliers></vc:suppliers>
            </select>
            <span asp-validation-for="Supplier.Id" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Products"></label>
            <select asp-for="Products" class="form-control">
                <vc:products></vc:products>
            </select>
            <span asp-validation-for="Products" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Substances"></label>
            <select asp-for="Substances" class="form-control">
                <vc:substances></vc:substances>
            </select>
            <span asp-validation-for="Substances" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConformityTypes"></label>
            <select size="10" asp-for="ConformityTypes" class="form-control">
                <vc:conformity-types></vc:conformity-types>
            </select>
            <span asp-validation-for="ConformityTypes" class="text-danger"></span>
        </div>

        <div id="conformitiesContainer">
            <label asp-for="ConformityTypes"></label>
            <a class="btn btn-success" onclick="AddMoreConformities()">+</a>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</div>

