@*<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for supplier..." title="Type in a name or number">

<div class="form-group">
    <label asp-for=""></label>
    <select asp-for="" class="form-control">
        <vc:suppliers></vc:suppliers>
    </select>
    <span asp-validation-for="" class="text-danger"></span>
</div>

<script>
    function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>*@