<p class="large-margin-vertical">
    # CSharp_ASP.NET_Core Web Project
</p>
<p class="large-margin-vertical">
    <b>Conformity Check is a project that manages legal conformity requirements for articles, suppliers and products.</b>
</p>
<p class="large-margin-vertical">
    Conformity Check is dedicated to manage legal conformity requirements that different product types must comply with.
</p>
<p>
    In this <b>complicated regulatory world</b>, we have many <b>different product legislations, regulations, country laws and customer requirements that have to be confirmed</b>.
<p>
    <b>The main goal of the project is to act as a document and regulatory management system</b>.
</p>
<p>
    Very common and typical case in the companies that produce <b>single or complex articles/products</b>, is to have <b>
        articles that need
        several different confirmations
    </b>. At the same time, these articles could have more than one supplier and the <b>
        management of the documents provided by each supplier for each article for each specific conformity type
    </b>is a <b>huge burden</b>
    even for the biggest companies in the World.
    In addition to the fact that <b>articles could be delivered for more than one source, we have separate requirements valid for different countries or clients</b>.
</p>
<p>
    This poses the need of a web tool, that could <b>manage the documents, create records, relationships, generate reports, send requests and update the information provided by the suppliers</b>.
    Even in the current state of the art with all available software tools on the market, <b>the need of a system that could do 
    all those things together and be fit to the production specifics 
    of the today’s supply management is still high</b>.
    The <b>companies are facing more and more issues collecting, managing, evaluating and analysing the information</b>, subsequently – <b>delivering 
    this information on request by clients, customs or control authorities around the World</b>.
</p>
<p>
    When we add the <b>inevitable fact that regulations and requirements in all the countries are changing very frequently</b>, that the 
    <b>specific restrictions are different in different countries</b> and the <b>raising awareness in human society for the environmental and people 
    protection needs, laws and requirements</b>, it is <b>absolutely mandatory all companies to be able to manage the conformity topic with a tool that fits exactly to their needs</b>.
</p>
<p class="large-margin-vertical">
    <b>This is why Conformity Check system was created and where it could vastly help!</b>
</p>
<p class="large-margin-vertical">
    <b>Conformity Check is deployed online and could be found here:</b>
    <a href="https://conformitycheck.dotnetweb.net">https://conformitycheck.dotnetweb.net</a>
</p>
