<p>
    <b>Database diagrams:</b>
</p>
<p>
    -	Full diagram:
</p>
<p>
    <img width="374" alt="DB_Diagram_All" src="https://user-images.githubusercontent.com/54845614/130635960-a55bf0bf-7159-4499-a436-8eb7fa8e3007.png">
</p>
<p>
    -	All tables related to conformities:
</p>
<p>
    <img width="368" alt="DB_Diagram" src="https://user-images.githubusercontent.com/54845614/130632337-281c2df0-6a99-45b2-9bcd-70aa96b9d962.png">
</p>
<p>
    -	Detailed views:
</p>
<p>
    <img width="621" alt="DB_Diagram1" src="https://user-images.githubusercontent.com/54845614/130632379-b4c714f4-4a6d-4215-984d-f5b420d80b9d.png">
</p>
<p>
    <img width="594" alt="DB_Diagram2" src="https://user-images.githubusercontent.com/54845614/130632427-ef091388-9341-471f-9c32-03ec1df41a09.png">
</p>
<p>
    <img width="610" alt="DB_Diagram3" src="https://user-images.githubusercontent.com/54845614/130632438-93076da3-2fc7-43b7-bb3c-2f14cdcebfcd.png">
</p>
<p>
    <b>Pages screenshots:</b>
</p>
<p>
    <b>Home Page:</b>
</p>
<p>
    <img width="401" alt="Home" src="https://user-images.githubusercontent.com/54845614/134786178-f4cbf93d-e0c6-4231-8573-959244f33a48.png">
</p>
<p>
    <img width="761" alt="SearchResultsHomePage" src="https://user-images.githubusercontent.com/54845614/134786421-074d4bd8-a741-4547-8274-127441a0cb52.png">
</p>
<p>
    <b>Register Page:</b>
</p>
<p>
    <img width="526" alt="Register" src="https://user-images.githubusercontent.com/54845614/134786188-6dadd252-c9e0-4462-88a8-e149ede42ecd.png">
</p>
<p>
    <img width="763" alt="FacebookRegister" src="https://user-images.githubusercontent.com/54845614/134786875-8bd1d67f-16b6-4253-89b1-a4aab78d9463.png">
</p>
<p>
    <b>Login Page:</b>
</p>
<p>
    <img width="887" alt="Login" src="https://user-images.githubusercontent.com/54845614/134786192-3c52d54d-efe4-43da-8367-d834e5bd9765.png">
</p>
<p>
    <b>User Pages:</b>
</p>
<p>
    <img width="760" alt="UserMenu" src="https://user-images.githubusercontent.com/54845614/134786197-7de3b058-1970-434f-a295-61693c34c76e.png">
</p>
<p>
    <img width="776" alt="ChangeEmail" src="https://user-images.githubusercontent.com/54845614/134786202-4f8faafb-14cb-4d7d-8226-24fe43dba59e.png">
</p>
<p>
    <img width="765" alt="ChangePassword" src="https://user-images.githubusercontent.com/54845614/134786203-b158a338-6a99-4da1-b82d-ec3a5e955556.png">
</p>
<p>
    <img width="762" alt="ExternalLogins" src="https://user-images.githubusercontent.com/54845614/134786220-7ad853cd-c745-4fc0-a6ad-8cc046f0cb34.png">
</p>
<p>
    <img width="765" alt="PersonalData" src="https://user-images.githubusercontent.com/54845614/134786340-95ab8df0-bc5d-4727-a638-ada7828e1e5a.png">
</p>
<p>
    <b>Articles Pages:</b>
</p>
<p>
    <img width="578" alt="ArticlesLogoutUser" src="https://user-images.githubusercontent.com/54845614/134786248-78e2c96f-ffc0-4650-afbf-a1a1bf41975b.png">
</p>
<p>
    <img width="575" alt="ArticlesAll" src="https://user-images.githubusercontent.com/54845614/134786242-49d02e7a-35c2-4ab9-bebf-713cfe94f8f0.png">
</p>
<p>

</p>
<p>
    <img width="766" alt="ArticleDetails" src="https://user-images.githubusercontent.com/54845614/134786253-0b73b724-c306-43a6-ae1e-7d002cfb64c0.png">
</p>
<p>
    <img width="582" alt="EditArticle" src="https://user-images.githubusercontent.com/54845614/134786265-ebb456f8-5cce-4256-92a3-a164ef005715.png">
</p>
<p>
    <img width="760" alt="AddConformityTypeToArticle" src="https://user-images.githubusercontent.com/54845614/134786273-f88c5c54-8ce5-4aab-b4f5-35f5f7c7587a.png">
</p>
<p>
    <img width="768" alt="ChangeMainSupplier" src="https://user-images.githubusercontent.com/54845614/134786280-6f99ac59-474b-4a25-b51a-23a3dfb4f315.png">
</p>
<p>
    <img width="740" alt="ArticleConformitiesTable" src="https://user-images.githubusercontent.com/54845614/134786293-dc299d60-10a2-4124-a3c4-c7c44cd8871a.png">
</p>
<p>
    <img width="579" alt="AddConformityToArtcile" src="https://user-images.githubusercontent.com/54845614/134786305-a113682f-91de-4ccc-85f1-5e0c5adc64ca.png">
</p>
<p>
    <img width="572" alt="AddConformityToArticle2" src="https://user-images.githubusercontent.com/54845614/134786306-7988f104-6385-46e0-9d93-60fbb1131868.png">
</p>
<p>
    <img width="584" alt="RequestedConformity" src="https://user-images.githubusercontent.com/54845614/134786322-36ff6c45-1998-43d4-8335-ccfe9d7f310a.png">
</p>
<p>
    <img width="579" alt="AddConformityToArtcile" src="https://user-images.githubusercontent.com/54845614/134786371-6df61dd7-2433-45da-bc92-1febf8102b10.png">
</p>
<p>
    <img width="572" alt="AddConformityToArticle2" src="https://user-images.githubusercontent.com/54845614/134786384-06cf2619-77d3-4d33-9c05-0419df3fcec8.png">
</p>
<p>
    <img width="768" alt="AddConformityToArticle3" src="https://user-images.githubusercontent.com/54845614/134786387-50352e7c-facb-44c9-a150-babf4ce82cb6.png">
</p>
<p>
    <img width="585" alt="Sorting1" src="https://user-images.githubusercontent.com/54845614/134786448-aedc41d5-7470-4977-b6d6-9f02b4c0923c.png">
</p>
<p>
    <b>Suppliers Pages:</b>
</p>
<p>
    <img width="574" alt="SuppliersAll" src="https://user-images.githubusercontent.com/54845614/134786440-de2e51ae-b8c8-4bdb-8c61-85c260e278ef.png">
</p>
<p>
    <img width="572" alt="Sorting" src="https://user-images.githubusercontent.com/54845614/134786454-b4a36d48-92c7-45a7-975a-a4ea37383484.png">
</p>
<p>
    <img width="586" alt="SupplierDetails" src="https://user-images.githubusercontent.com/54845614/134786442-4a4e6170-6378-42bc-9199-d8a6234244da.png">
</p>
<p>
    <img width="581" alt="EditSupplier" src="https://user-images.githubusercontent.com/54845614/134786920-c3984703-adb3-41e5-9b9b-e5e4ad9d0abd.png">
</p>
<p>
    <b>Conformity Types Pages:</b>
</p>
<p>
    <img width="571" alt="ConformityTypesAll" src="https://user-images.githubusercontent.com/54845614/134786431-e6b58862-61ff-44ee-9711-1f641b8693b7.png">
</p>
<p>
    <b>Conformity Pages:</b>
</p>
<p>
    <img width="413" alt="ConformitiesAll" src="https://user-images.githubusercontent.com/54845614/134786495-41d5342c-c986-4a45-9f4a-998fc6cdbe2d.png">
</p>
<p>
    <img width="751" alt="SearchFields" src="https://user-images.githubusercontent.com/54845614/134787030-5eff6369-833a-4847-a169-b32d6bc4eab0.png">
</p>
<p>
    <img width="582" alt="ConformityDetails" src="https://user-images.githubusercontent.com/54845614/134786498-65e83f39-222a-447d-b9f0-8f274fb8f960.png">
</p>
<p>
    <img width="404" alt="CreateConformity" src="https://user-images.githubusercontent.com/54845614/134786506-eefb94ca-e067-4ffd-8b87-d55a6a665e6a.png">
</p>
<p>
    <img width="398" alt="CreateConformity1" src="https://user-images.githubusercontent.com/54845614/134786509-640d5e65-a7b2-4ba3-a785-cec66e992f30.png">
</p>
<p>
    <img width="762" alt="EditConformity" src="https://user-images.githubusercontent.com/54845614/134786684-e9475eb7-dc0d-4b99-af97-46e605f04726.png">
</p>
<p>
    <img width="774" alt="ShowConformity" src="https://user-images.githubusercontent.com/54845614/134786856-2b15bb4d-73a2-40f6-ab9d-8c16906ee2e5.png">
</p>
<p>
    <img width="586" alt="Validation" src="https://user-images.githubusercontent.com/54845614/134786641-89c575e1-c6cc-4b1a-9443-5b55b31a18c4.png">
</p>
<p>
    Paging:
</p>
<p>
    <img width="754" alt="Paging" src="https://user-images.githubusercontent.com/54845614/134786949-66d0bda7-3aa4-4be2-946b-45b6b0f6ecf4.png">
</p>
<p>
    <b>Contact Us Pages:</b>
</p>
<p>
    <img width="825" alt="ContactUs" src="https://user-images.githubusercontent.com/54845614/134786476-b8b3343e-b3e2-45ad-a66f-ca8d0aa2b6f6.png">
</p>
<p>
    <b>Thank You Page:</b>
</p>
<p>
    <img width="582" alt="ThankYouMessageFromAdmin" src="https://user-images.githubusercontent.com/54845614/130652057-2a8b4156-c38a-4c8f-94e7-2fc66bdee722.png">
</p>
<p>
    <b>Error Page:</b>
</p>
<p>
    <img width="767" alt="Error404" src="https://user-images.githubusercontent.com/54845614/134786650-23e04484-e324-4e06-bdac-26bdd96e4670.png">
</p>
<p>
    <b>Emails:</b>
</p>
<p>
    <b>Confirmation email for registration:</b>
</p>
<p>
    <img width="654" alt="ConfirmationEmail" src="https://user-images.githubusercontent.com/54845614/130650556-a8658b96-55b2-48d5-aac1-ac3e9ecaa07a.png">
</p>
<p>
    <b>Thank you email to contacting person from site admin:</b>
</p>
<p>
    <img width="582" alt="ThankYouMessageFromAdmin" src="https://user-images.githubusercontent.com/54845614/130652057-2a8b4156-c38a-4c8f-94e7-2fc66bdee722.png">
</p>
<p>
    <b>Email to site admin with contact message information:</b>
</p>
<p>
    <img width="818" alt="ContactMessageToSiteAdmin" src="https://user-images.githubusercontent.com/54845614/130651218-c0b33d3c-4229-496e-9ba7-d012c5cf45fb.png">
</p>
<p>
    <b>Email to supplier for confirmation request:</b>
</p>
<p>
    <img width="561" alt="EmailToSupplier" src="https://user-images.githubusercontent.com/54845614/130651441-776a5077-df8d-42ec-88ad-af1406c334b6.png">
</p>
<p>
    <img width="684" alt="EmailToSupplier2" src="https://user-images.githubusercontent.com/54845614/130651453-bdbc2a57-7e41-4227-a4c8-e2822837c4d0.png">
</p>
<p>
    Responsive:
</p>
<p>
    <img width="221" alt="Responsive0" src="https://user-images.githubusercontent.com/54845614/134787003-ca53cf50-ad60-4c1b-ad3e-8d0204a012db.png">
</p>
<p>
    <img width="128" alt="Responsive2" src="https://user-images.githubusercontent.com/54845614/134786975-19829625-8364-403d-8f63-72d5927f4cd0.png">
</p>
<p>
    <img width="132" alt="Responsive" src="https://user-images.githubusercontent.com/54845614/134786976-ecf6d7a5-c3cd-41fc-9de5-babd795f3646.png">
</p>