@* NOT USED - to delete it *@

@model string

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
            <div id="pdfModal">
                <embed src="@Url.Action("ShowModalDocument", "ContentDelivery",
                           new { ConformityFileUrl = @Model})" type="application/pdf"
                       style="width:100%; height:100%" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-warning"
                    data-dismiss="modal">
                Close
            </button>
        </div>
    </div>
</div>

@* css *@
@*.modal-dialog {
    height: 100%;  = 90% of the .modal-backdrop block = %90 of the screen
}

.modal-content {
    height: 100%;  = 100% of the .modal-dialog block
}

#pdfModal {
    height: 100%;
    width: 100%;
}*@