<div class="container-fluid text-center">
    <h4 class="m-0 font-weight-bold">
        Error - this site is not found!
    </h4>
    <hr>
    <img class="mx-auto embed-responsive" src="~/files/errors/404.gif" />
    <hr>
    <h4 class="m-0 font-weight-bold justify-content-center ">
        <a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-info">Back to home page</a>
    </h4>
</div>
