@{
    this.ViewData["Title"] = "Delete conformity type";
}

<h3>@this.ViewData["Title"]</h3>

<div class="alert alert-success" role="alert">
    Conformity type is successfully deleted!
    <hr>
    <a asp-action="ListAll" class="btn btn-sm btn-info">Back to conformtiy types list</a>
</div>

@section SubMenu{
    <partial name="_SubMenuGeneral" />
}
