@{
    this.ViewData["Title"] = "Send us a message";
}

<section class="display-data-wrapper">
    <section class="display-data-container">

        <section class="display-data-header">
            <article class="title-container">
                <h4 class="title">
                    @this.ViewData["Title"]
                </h4>
            </article>
        </section>

        <section class="display-data-body">
            <article class="display-data-body data-container">
                <p class="center">
                    Thank you for contacting us!
                </p>
                <p class="center">
                    We will reply to your email in 24 hours.
                </p>
            </article>
        </section>

        <section class="display-data-footer ">
        </section>
    </section>
</section>