@using ConformityCheck.Web.ViewModels.Articles.ViewComponents
@model IEnumerable<ArticlesViewComponentModel>

<option class="form-control" value=""></option>
@foreach (var item in Model)
{
    <option class="form-control" value="@item.Id">@item.NumberAndDescription</option>
}
